:root {
    --divs: 16;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

#buttonAndGrid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#grid {
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(var(--divs), 1fr);
    grid-template-rows: repeat(var(--divs), 1fr);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#borderContainer {
    background-color: #ededed;
}

.gridDiv {
    user-select: none;
}