:root {
    --divs: 16;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

#grid {
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(var(--divs), auto);
}