@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --divs: 16;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 32px;
    font-size: 100px;
}

#buttonsAndGrid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

#leftButtons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 50px;
}

button {
    font-size: 32px;
    width: 128px;
    height: 128px;
}

#rightButtons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 50px;
}

#grid {
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(var(--divs), 1fr);
    grid-template-rows: repeat(var(--divs), 1fr);
}

#borderContainer {
    background-color: #ededed;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
        25px 0px 20px -20px rgba(0, 0, 0, 0.45),
        0px 25px 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45);

}

.gridDiv {
    user-select: none;
}

#colorPicker {
    border: none;
    width: 128px;
    height: 128px;
}

p {
    display: flex;
    justify-content: center;
    margin: 32px;
    font-size: 24px;
}